window.bar {
  background-color: transparent;
  /* @theme_bg_color; */
  color: @theme_fg_color;
}


button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  /*background-color: @theme_bg_color;*/
  border: 2px none;
  /* solid @theme_bg_color;*/
  border-radius: 12px;
  margin: 3px;
  /*margin-top: 3px;
  margin-bottom: 3px;*/
}

button:active {
  background-color: @theme_selected_bg_color;
}

button:hover {
  /* border-bottom: 3px solid @theme_fg_color; */
  background-color: #24283b;
}

#bottom-bar button {
  border: 2px solid @theme_fg_color;
}

label {
  font-weight: bold;
}

.workspaces {
  border-radius: 12px;
  /*background-color: @theme_bg_color;*/
}

.trays {
  border-radius: 12px;
  /*background-color: @theme_bg_color;*/
}

.workspaces button.focused {
  /* border-bottom: 3px solid @theme_selected_bg_color; */
  /* border: 2px solid @theme_selected_bg_color; */
  border-radius: 12px;
  color: @theme_selected_bg_color;
  /* color: @theme_bg_color; */
}

.client-title {
  color: @theme_selected_bg_color;
}

progress,
highlight {
  min-height: 8px;
}

window#mpris {
  background: transparent;
}

.player {
  background: @theme_bg_color;
  padding: 10px;
  min-width: 500px;
  margin: 8px;
  border: 1px solid @theme_fg_color;
  border-radius: 12px;
}

.player .img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  margin-right: 1em;
}

.player .title {
  font-size: 1.2em;
}

.player .artist {
  font-size: 1.1em;
  color: @insensitive_fg_color;
}

.player scale.position {
  padding: 0;
  margin-bottom: .3em;
}

.player scale.position trough {
  min-height: 8px;
  border-radius: 8px;
}

.player scale.position highlight {
  background-color: @theme_fg_color;
  border-radius: 8px;
}

.player scale.position slider {
  all: unset;
}

.player button {
  min-height: 1em;
  min-width: 1em;
  padding: .3em;
}

.player button.play-pause {
  margin: 0 .3em;
}

/* Notifications */

window.notifications {
  all: unset;
}

.notification {
  padding: 1px;
  margin: 8px;
  border: 1px solid @theme_fg_color;
  border-radius: 12px;
  background: @theme_bg_color;
  min-width: 500px;
}

.notification.content.title {
  font-size: 1.1em;
  color: @theme_fg_color;
  margin-right: 8px;
}

.notification.content.time {
  color: @theme_fg_color;
}

.notification.content.description {
  font-size: .9em;
  color: @theme_fg_color;
}

.notification.content.icon {
  border-radius: 12px;
  margin-right: 8px;
}

.notification.content.icon.img {
  border: 1px solid @theme_fg_color;
}

.notification.box.actions {
  margin-top: 8px;
}
